{% extends 'shop/product_base.html' %}

{% block content %}

                {% for product in products %}
                   <div>
                       {% if product.cover %}
                        <p><img height="200" src="{{ product.cover.url}}" width="200"></p>
                       {% endif %}
                        <h1><a href="{% url 'product_detail' product_pk=product.pk %}">{{product.name}}</a></h1>
                        <p>Описание: {{product.description}}</p>
                        <p>Цена: {{product.cost}}</p>
                        <p>Категории: {{product.category.name}} </p>
                        <p>Рейтинг: {{product.rating}}</p>
                    </div>
                {% endfor %}

{% endblock %}